<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "private events", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <%if logged_in? %>
      	<li><%= link_to current_user.name.capitalize,   current_user %></li>
      	<li><%= link_to "Log out",   :controller => :application, :action => :log_out %></li>
      <%else%>
      	<li><%= link_to "Home",   root_path %></li>
      <%end%>
      </ul>
    </nav>
  </div>
</header>